@{
    var isDoc = Request.FilePath.IndexOf("/Documentation/") != -1;
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@Page.Title</title>
        <link href="@Href("~/Styles/Site.css")" rel="stylesheet" />
        <link href="http://orchardproject.net/themes/orchardproject.net/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <script>(function(d){d.className="dyn "+d.className.substring(7,d.length);})(document.documentElement);</script> 
    </head>
    <body>
        <header id="HeaderDiv">
            <div id="branding">
                <h1><a href="http://www.orchardpro.ir"><span class="displayText">مستندات / راهنماهای اورچارد</span></a></h1>
            </div>
            <nav id="navMain">
                <ul>
                    <li><a href="http://www.orchardpro.ir/">خانه</a></li>
                    <li><a href="http://orchardproject.net/download">دانلود</a></li>
                    <li class="On"><a href="http://doc.orchardpro.ir/">مستندات/راهنماها</a></li>
                    <li><a href="http://orchardproject.net/gallery">گالری</a></li>
                    <li><a href="http://www.orchardpro.ir/%D8%AA%D8%A7%D9%84%D8%A7%D8%B1-%DA%AF%D9%81%D8%AA%DA%AF%D9%88">تالار گفتگو</a></li>
                </ul>
            </nav>
        </header>
        <div id="ContainerDiv">
            <div id="SidebarDiv">
                <div id="SidebarContentDiv">
                    <h2>جستجو</h2>
                    <form action="@Href("جستجو.cshtml")" method="GET">
                        <input class="txtsearchbox" type="text" name="q" value="@Request.QueryString["q"]"/><button type="submit" class="searchButton" title="Search">&raquo;</button>
                    </form>
                </div>
                @if (isDoc) {
                <h2>فهرست</h2>
                <nav class="TocContainer"><ol></ol></nav>
                <div id="SidebarFooterDiv">
                    <a href="@Page.EditUrl">ویرایش این صفحه</a>
                </div>
                }
            </div>
            <article id="MainDiv">
                <div id="MainHeaderDiv">
                </div>
                <div id="PageInternalHeaderDiv">
                </div>
                <a id="PageTop"></a>
            	<div id="PageHeaderDiv">
            		<h1 class="pagetitle">@Page.DocumentTitle</h1>
    			</div>
            	<div id="PageContentDiv">
                    @RenderBody()
                </div>
            </article>
            <footer id="MainFooterDiv">
                <div id="siteInfo">
                    <div id="siteInfoContent">
                        <ul>
                        <li><a href="http://www.orchardpro.ir">خانه</a></li>
                        <li><a href="mailto:k1m@orchardpro.ir">تماس با ما</a></li>
                        </ul>
                    </div>
                </div>
            </footer>
        </div>
        <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.min.js"></script>
        <script type="text/javascript" src="@Href("~/Scripts/toc.js")"></script>
    </body>
</html>
