@using App_Code
@{
    var q = Request.QueryString["q"];
    var page = int.Parse(Request.QueryString["p"] ?? "1");
    Page.Title = "Orchard Documentation - Search - " + q;
    Page.DocumentTitle = "Search Results";
    var resultSet = SearchHelpers.Query(HttpContext.Current, q, page);
    var documents = resultSet.Documents;
    if (resultSet.TotalCount == 0) {
        @:No results found.
    }
    else {
        <div class="searchResultCount">@resultSet.TotalCount @(resultSet.TotalCount > 1 ? "documents" : "document") found.</div>
        <ul id="SearchResultsDiv">
            @foreach (var doc in documents) {
            <li>
                <article>
                    <header>
                        <h2><a href="@Href(doc.Url)">@doc.Title</a></h2>
                    </header>
                    <blockquote>@Html.Raw(doc.Summary)</blockquote>
                    <div><a href="@Href(doc.Url)">Read more...</a></div>
                </article>
            </li>
            }
        </ul>
        if (resultSet.TotalCount > SearchHelpers.PageSize) {
            int pages = (resultSet.TotalCount / SearchHelpers.PageSize) + 1;
            <ul class="searchPagination">
            @for (var p = 1; p <= pages; p++) {
                <li>@if (p == page) {<text>@p</text>} else {<a href="?q=@(q)&p=@p">@p</a>}</li>
            }
            </ul>
         }
    }
}